<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic CheckBox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic CheckBox</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item>
      <ion-label><strong>Superheroes - Select All</strong></ion-label>
      <ion-checkbox slot="start" [(ngModel)]="checkParent" [indeterminate]="indeterminateState"
        (click)="checkCheckbox($event)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let checkboxes of Checkboxes">
      <ion-label>{{checkboxes.value}}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="checkboxes.isItemChecked"  (ionChange)="verifyEvent($event, checkboxes)">
      </ion-checkbox>
    </ion-item>
  </ion-list>


</ion-content>
